.app {
  text-align: center;
  background:#70b6e4;
  min-height: 100vh;
  display:flex;
  justify-content: space-around;
  padding-top: 50px;
}
.tweet{
  width:300px;
  height:300px;
  background:white;
  border-radius:30px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
